@use "../../style/variables";

.container {
  padding: 2rem 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 96rem;
  width: 100%;
}

.header {
  margin-bottom: 2rem;
  text-align: center;

  h1 {
    font-size: 3.6rem;
    color: variables.$brown;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8rem;
    color: variables.$grey;
    margin-bottom: 0.5rem;
  }

  .groupInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    .adminBadge {
      display: inline-block;
      background-color: variables.$yellow;
      color: black;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.2rem 0.6rem;
      border-radius: 1rem;
      text-transform: uppercase;
    }
  }
}

.logoutSection {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.logoutButton {
  max-width: 10rem;
}

@media (max-width: variables.$breakpoint-sm) {
  .container {
    padding: 1.5rem;
  }

  .header {
    h1 {
      font-size: 2.8rem;
    }
  }
}
