@use "variables";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-primary;
  color: variables.$black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffefa;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: variables.$font-primary;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: variables.$breakpoint-sm) {
    font-size: 50%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

p {
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-family: variables.$font-primary;
  font-weight: 500;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
