@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$yellow: #ffcd29;
$white: #f0f0f0;
$black: #000;
$grey: #6e6d6d;
$brown: #937100;
$error-color: #e53e3e;
$header-background: #0d0402;
$input-text: #757575;
$input-background: #7e6a2514;
$input-border: #bdbdbd;
$page-background: #f5f5f5;
$border-white: 1px solid $white;
$bottom-position: 6rem;
$mobile-bottom-position: 4rem;
$side-position: 8rem;
$mobile-side-position: 3rem;

$font-primary: "Exo", sans-serif;
$font-secondary: "Bebas+Neue", sans-serif;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
