@use "../../style/variables";

.adminSection {
  width: 100%;
  border-radius: 0.8rem;
  padding: 1.6rem;
  align-self: flex-start;
}

.actions {
  padding-bottom: 4rem;
  display: flex;
  gap: 4rem;
}

.header {
  margin-bottom: 1.6rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
  }
}

.songList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.loading,
.error,
.searching,
.noResults {
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
}

.searching {
  color: variables.$grey;
}

.noResults {
  color: variables.$grey;
  font-style: italic;
}

.error {
  color: variables.$error-color;
}

@media (max-width: variables.$breakpoint-sm) {
  .adminSection {
    padding: 0;
  }

  .actions {
    padding-bottom: 2rem;
    flex-direction: column;
    gap: 1rem;
  }
}
