@use "../../style/variables";

.adminSection {
  width: 100%;
  border-radius: 0.8rem;
  padding: 1.6rem;
  align-self: flex-start;
}

.header {
  margin-bottom: 1.6rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
  }
}

.songList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.error {
  color: variables.$error-color;
}
